[Unit]
Description=Start My Container

[Service]
Type=notify
NotifyAccess=all
TimeoutStartSec=5
ExecStart=/usr/local/sbin/runc run --pid-file /run/mycontainerid mycontainerid
ExecStopPost=/usr/local/sbin/runc delete mycontainerid
WorkingDirectory=/tmp/fedora-runc

[Install]
WantedBy=multi-user.target
