[Unit]
Description=Start My Container

[Service]
Type=notify
NotifyAccess=all
TimeoutStartSec=5
ExecStart=/usr/bin/runc start --pid-file /run/mycontainerid mycontainerid
ExecStopPost=/usr/bin/runc delete mycontainerid
WorkingDirectory=/tmp/fed-runc

[Install]
WantedBy=multi-user.target
